@charset "UTF-8";

/* core.css */

@font-face{
  font-family:wagtail;
  src:url(../../wblocks/fonts/wagtail.eot);
  src:url(../../wblocks/fonts/wagtail.eot?#iefix) format("embedded-opentype"),
      url(../../wblocks/fonts/wagtail.ttf) format("truetype"),
      url(../../wblocks/fonts/wagtail.svg#wagtail) format("svg"),
      url(../../wblocks/fonts/wagtail.woff) format("woff");
  font-weight:400;font-style:normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
  @font-face{
    font-family:wagtail;
    src:url(../../wblocks/fonts/wagtail.svg#wagtail) format("svg")
  }
}

.icon.teal{color:#43b1b0}
.icon.white{color:#fff}
.hallotoolbar [class*=" icon-"]:before,
 .hallotoolbar [class^=icon-],
  .hallotoolbar [class^=icon-]:before,
   .icon:after,
    .icon:before{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-family:wagtail;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;speak:none;text-decoration:none;width:1.3em;line-height:1em;text-align:left;vertical-align:middle;margin-right:.2em}
.hallotoolbar [class^=icon-]:after,
 .icon:after{text-align:right}
.hallotoolbar [class*=" icon-"]:before,
 .hallotoolbar [class^=icon-],
  .hallotoolbar [class^=icon-]:before{vertical-align:-10%;margin-right:0}
.icon-cogs:before{content:"a"}
.icon-doc-empty-inverse:before{content:"b"}
.icon-doc-empty:before{content:"c"}
.icon-edit:before{content:"d"}
.icon-arrow-up:before{content:"e"}
.icon-arrow-down:before{content:"q"}
.icon-search:before{content:"f"}
.icon-cross:before{content:"g"}
.icon-folder-open-1:before{content:"i"}
.icon-folder-inverse:before{content:"j"}
.icon-mail:before{content:"k"}
.icon-arrows-up-down:before{content:"l"}
.icon-locked:before{content:"m"}
.icon-arrow-right:before{content:"n"}
.icon-doc-full:before,.icon-file-text-alt:before{content:"h"}
.icon-image:before,.icon-picture:before{content:"o"}
.icon-unlocked:before{content:"p"}
.icon-doc-full-inverse:before{content:"r"}
.icon-folder:before{content:"s"}
.icon-plus:before{content:"t"}
.icon-tag:before{content:"u"}
.icon-folder-open-inverse:before{content:"v"}
.icon-cog:before{content:"w"}
.icon-tick:before{content:"x"}
.icon-user:before{content:"y"}
.icon-arrow-left:before{content:"z"}
.icon-tick-inverse:before{content:"A"}
.icon-plus-inverse:before{content:"B"}
.icon-snippet:before{content:"D"}
.icon-wagtail:before{content:"V"}
.icon-wagtail-inverse:before{content:"0"}
.icon-bold:before{content:"C"}
.icon-italic:before{content:"E"}
.icon-undo:before{content:"H"}
.icon-repeat:before{content:"I"}
.icon-list-ol:before{content:"G"}
.icon-list-ul:before{content:"F"}
.icon-link:before,.url_field .input:before{content:"J"}
.icon-radio-full:before{content:"K"}
.icon-radio-empty:before{content:"L"}
.icon-arrow-up-big:before{content:"M"}
.icon-arrow-down-big:before{content:"N"}
.icon-group:before{content:"O"}
.icon-media:before{content:"P"}
.icon-password:before{content:"Q"}
.icon-download:before{content:"S"}
.icon-order:before{content:"T"}
.icon-grip:before{content:"U"}
.icon-home:before{content:"W"}
.icon-order-down:before{content:"X"}
.icon-order-up:before{content:"Y"}
.icon-bin:before{content:"Z"}
.icon-spinner:before{content:"1"}
.icon-pick:before{content:"2"}
.icon-redirect:before{content:"3"}
.icon-success:before{content:"9"}
.icon-help:before{content:"?"}
.icon-warning:before{content:"!"}
.icon-form:before{content:"$"}
.icon-site:before{content:"@"}
.icon-placeholder:before{content:" {"}
.icon-pilcrow:before{content:""}
.icon-title:before{content:""}
.icon-code:before{content:""}
.icon-openquote:before{content:"“"}
.icon-horizontalrule:before{content:"—"}
.icon-chain-broken:before{content:""}
.icon-table:before{content:""}
.icon-logout:before{content:""}
.icon-arrow-down-after:after{content:"q"}
.icon-arrow-up-after:after{content:"e"}
.icon-arrow-right-after:after{content:"n"}
.icon-no-view:before,.icon-view:before{vertical-align:-3.5px;font-size:1.1rem}
.icon-view:before{content:"4"}
.icon-no-view:before{content:"^"}
.icon-collapse-down:before{content:"5"}
.icon-collapse-up:before{content:"6"}
.date_field .input:before,.date_time_field .input:before,.icon-date:before{content:"7"}
.icon-time:before,.time_field .input:before{content:"8"}
.icon-spinner:after,.icon-spinner:before{width:1em;animation:a .5s infinite linear;display:inline-block}
.icon-horizontalrule:before{font-family:Open Sans,Arial,sans-serif}
.icon-larger:before{font-size:1.5em}
.icon.text-replace{font-size:0;line-height:0;overflow:hidden}
.icon.text-replace:before{margin-right:0;font-size:1rem;display:inline-block;width:100%;line-height:1.2em;text-align:center;vertical-align:middle}
.icon-spinner:after{display:inline-block;line-height:1}
.icon-help-inverse:before{content:"?";display:inline-block;width:15px;height:15px;line-height:15px;font-size:1.1em;text-align:center;border-radius:100%;color:#666;border:1px solid currentColor}

@keyframes a{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}
@keyframes b{0%{opacity:0}to{opacity:1}}
@keyframes c{0%{transform:rotate(2deg)}to{transform:rotate(8deg)}}
@keyframes d{0%{transform:rotate(-3deg)}to{transform:rotate(7deg)}}

.help-block{padding:1em;margin:1em 0;clear:both;color:#666}
.help-block p{margin-top:0}
.help-block p:last-child{margin-bottom:0}
.help-block a{color:#43b1b0}
.help-critical,.help-info,.help-warning{border-radius:3px;padding-left:3.5em;position:relative}
.help-critical:before,.help-info:before,.help-warning:before{font-family:wagtail;position:absolute;left:1em;top:.7em;content:"?";font-size:1.4em}
.help-info{background-color:#e6f2f8}
.help-info:before{color:#71b2d4}
.help-warning{background-color:#faecd5}
.help-warning:before{color:#e9b04d;content:"!"}
.help-critical{background-color:#f5d6d7}
.help-critical:before{color:#cd3238;content:"!"}

.sequence-container ul,
 .sequence-container li {list-style-type:none}
.sequence-container ul{margin:0;padding:0}
.sequence-container .label,
 .sequence-container label{text-transform:none;font-size:1em;display:block;margin: 2px 0 0 0}
.sequence-container .checkbox .label,
 .sequence-container .checkbox label,
  .sequence-container .radio .label,
   .sequence-container .radio label{display:inline}

.button{border-radius:3px;font-family:Open Sans,Arial,sans-serif;width:auto;height:2.4em;padding:0 1em;font-size:.9em;font-weight:400;vertical-align:middle;display:inline-block;background-color:#43b1b0;border:1px solid #43b1b0;color:#fff;text-decoration:none;text-transform:uppercase;white-space:nowrap;position:relative;overflow:hidden;outline:none;box-sizing:border-box;-webkit-font-smoothing:auto;-moz-appearance:none}
.button:hover{color:#43b1b0}
.button.yes{background-color:#189370;border:1px solid #189370}
.button.yes.button-secondary{border:1px solid #189370;color:#189370;background-color:transparent}
.button.yes:hover{color:#fff;border-color:transparent;background-color:#127055}
.button.yes.button-nobg:hover{color:#189370;background-color:transparent}
.button.warning{background-color:#e9b04d;border:1px solid #e9b04d}
.button.warning.button-secondary{border:1px solid #e9b04d;color:#e9b04d;background-color:transparent}
.button.warning:hover{color:#fff;border-color:transparent;background-color:#b97e17}
.button.warning.button-nobg:hover{color:#e9b04d;background-color:transparent}
.button.no,.button.serious{background-color:#cd3238;border:1px solid #cd3238}
.button.no.button-secondary,.button.serious.button-secondary{border:1px solid #cd3238;color:#cd3238;background-color:transparent}
.button.no:hover,.button.serious:hover{color:#fff;border-color:transparent;background-color:#7b1e22}
.button.no.button-nobg:hover,.button.serious.button-nobg:hover{color:#cd3238;background-color:transparent}
.button.button-nobg{border:0;background-color:transparent}
.button.bicolor{border:0;padding-left:3.5em}
.button.bicolor:before{font-size:1rem;position:absolute;left:0;top:0;width:2em;line-height:1.85em;height:100%;text-align:center;background-color:rgba(0,0,0,.2);display:block;border-top-left-radius:inherit;border-bottom-left-radius:inherit}
.button.button-small.bicolor{padding-left:3.5em}
.button.button-small.bicolor:before{width:2em;font-size:.9rem;line-height:1.65em}
.button+.button{margin-left:1em}
.button.unbutton{border-radius:0;width:auto;height:auto;padding:0;font-size:inherit;font-weight:400;vertical-align:middle;display:inline;background-color:transparent;border:0;color:inherit;text-decoration:none;text-transform:uppercase;white-space:nowrap;position:relative;overflow:hidden;outline:none;box-sizing:border-box;-webkit-font-smoothing:auto;-moz-appearance:none}
.button:hover{background-color:#358c8b;color:#fff;border-color:transparent}
.button:hover.hover-no{background-color:#cd3238}
.button.button-longrunning span{transform:scale(.9);display:inline-block;height:.9em;position:relative;opacity:0;width:0;visibility:hidden;text-align:center;padding-right:0}
.button.button-longrunning em{font-style:normal}
.button.button-longrunning.button-longrunning-active span{transform:scale(1);visibility:visible;width:1em;opacity:.8;padding-right:.5em}
.button.button-longrunning .icon-spinner:after{text-align:center;position:absolute;left:0;margin:0;line-height:1em;display:inline-block;font-size:1em}
.button.disabled,.button:disabled,.button[disabled]{background-color:#d9d9d9;border-color:#d9d9d9;color:#8c8c8c;cursor:default}
.button.button-secondary.disabled,.button.button-secondary:disabled,.button.button-secondary[disabled]{background-color:#fff;border-color:#d9d9d9;color:#d9d9d9}
.button.button-nostroke{border:0}
@media screen and (min-width:50em){
  .button{font-size:.95em;padding:0 1.4em;height:3em}
  .button.icon.text-replace{width:2.2rem;height:2.2rem}
  .button.icon.text-replace:before{line-height:2.1em}
  .button.button-small.icon.text-replace{height:1.8rem;width:1.8rem}
  .button.button-small.icon.text-replace:before{line-height:1.7em}
  .button.bicolor{padding-left:3.7em}
  .button.bicolor:before{width:2em;line-height:2.2em;font-size:1.1rem}
  .button.button-small.bicolor{padding-left:3em}
  .button.button-small.bicolor:before{width:1.8em;line-height:1.65em}
}
.button-small{padding:0 .8em;height:2em;font-size:.95em}
.button-secondary{color:#43b1b0;background-color:transparent}
.button.icon.text-replace{font-size:0;width:1.8rem;height:1.8rem}
.button.icon.text-replace:before{line-height:1.7em}
.button-neutral{color:#666}
.button-neutral:hover{color:#43b1b0}
.yes{background-color:#189370;border:1px solid #189370}
.yes.button-secondary{border:1px solid #189370;color:#189370;background-color:transparent}
.yes:hover{color:#fff;border-color:transparent;background-color:#127055}
.yes.button-nobg:hover{color:#189370;background-color:transparent}
.no,.serious{background-color:#cd3238;border:1px solid #cd3238}
.no.button-secondary,
 .serious.button-secondary{border:1px solid #cd3238;color:#cd3238;background-color:transparent}
.no:hover,.serious:hover{color:#fff;border-color:transparent;background-color:#7b1e22}
.no.button-nobg:hover,
 .serious.button-nobg:hover{color:#cd3238;background-color:transparent}
.button-nobg{border:0;background-color:transparent}
.bicolor{border:0;padding-left:3.5em}
.bicolor:before{font-size:1rem;position:absolute;left:0;top:0;width:2em;line-height:1.85em;height:100%;text-align:center;background-color:rgba(0,0,0,.2);display:block}
.button-small.bicolor{padding-left:3.5em}
.button-small.bicolor:before{width:2em;font-size:.8rem;line-height:1.65em}
a.button{line-height:2.4em;height:auto}
a.button.button-small{line-height:1.85em}
@media screen and (min-width:50em){
  a.button{line-height:2.9em}
}
@media screen and (min-width:50em){
  button.button-small,
   input[type=button].button-small,
    input[type=reset].button-small,
     input[type=submit].button-small{height:2em}
}
.button-group:after,
 .button-group:before{content:" ";display:table}
.button-group:after{clear:both}
.button-group .button,
 .button-group button,
  .button-group input[type=button],
   .button-group input[type=reset],
    .button-group input[type=submit]{border-radius:0;float:left;margin-right:1px;margin-left:0}
.button-group .button:only-child,
 .button-group button:only-child,
  .button-group input[type=button]:only-child,
   .button-group input[type=reset]:only-child,
    .button-group input[type=submit]:only-child{border-radius:3px}
.button-group .button:first-child,
 .button-group button:first-child,
  .button-group input[type=button]:first-child,
   .button-group input[type=reset]:first-child,
    .button-group input[type=submit]:first-child{border-radius:3px 0 0 3px}
.button-group .button:last-child,
 .button-group button:last-child,
  .button-group input[type=button]:last-child,
   .button-group input[type=reset]:last-child,
    .button-group input[type=submit]:last-child{border-radius:0 3px 3px 0;margin-right:0}
.button-group.button-group-square,
 .button-group.button-group-square .button,
  .button-group.button-group-square button,
   .button-group.button-group-square input[type=button],
    .button-group.button-group-square input[type=reset],
     .button-group.button-group-square input[type=submit]{border-radius:0}

.error-message,.help{font-size:.85em;font-weight:400;margin:.5em 0 0}
.error-message{color:#cd3238}
.help{color:#666}
.field.focused+.help,
 .field:focus+.help,
  .field:hover+.help,
   fieldset:hover>.help,
    li.focused>.help{opacity:1}
.required .field>label:after{content:"*";color:#cd3238;font-weight:700;display:inline-block;margin-left:.5em;line-height:1em;font-size:13px}
.error input,
 .error select,
  .error textarea{border-color:#cd3238;background-color:#feedee}
.boolean_field .help,.radio .help{opacity:1}
.date_field .input,.date_time_field .input,.iconfield .input,.time_field .input,.url_field .input{position:relative}
.date_field .input:after,.date_field .input:before,.date_time_field .input:after,.date_time_field .input:before,.iconfield .input:after,.iconfield .input:before,.time_field .input:after,.time_field .input:before,.url_field .input:after,.url_field .input:before{font-family:wagtail;position:absolute;top:.09em;line-height:100%;font-size:2em;color:#d9d9d9}
.date_field .input:before,.date_time_field .input:before,.iconfield .input:before,.time_field .input:before,.url_field .input:before{left:.3em}
.date_field .input:after,.date_time_field .input:after,.iconfield .input:after,.time_field .input:after,.url_field .input:after{right:.5em}
.date_field input:not([type=button]),.date_field input:not([type=checkbox]),.date_field input:not([type=radio]),.date_field input:not([type=submit]),.date_time_field input:not([type=button]),.date_time_field input:not([type=checkbox]),.date_time_field input:not([type=radio]),.date_time_field input:not([type=submit]),.iconfield input:not([type=button]),.iconfield input:not([type=checkbox]),.iconfield input:not([type=radio]),.iconfield input:not([type=submit]),.time_field input:not([type=button]),.time_field input:not([type=checkbox]),.time_field input:not([type=radio]),.time_field input:not([type=submit]),.url_field input:not([type=button]),.url_field input:not([type=checkbox]),.url_field input:not([type=radio]),.url_field input:not([type=submit]){padding-left:2.8em}
.date_field.field-small .input:after,.date_field.field-small .input:before,.date_time_field.field-small .input:after,.date_time_field.field-small .input:before,.iconfield.field-small .input:after,.iconfield.field-small .input:before,.time_field.field-small .input:after,.time_field.field-small .input:before,.url_field.field-small .input:after,.url_field.field-small .input:before{font-size:1.3rem;top:.3em}
.date_field.field-small .input:before,.date_time_field.field-small .input:before,.iconfield.field-small .input:before,.time_field.field-small .input:before,.url_field.field-small .input:before{left:.5em}
.date_field.field-small .input:after,.date_time_field.field-small .input:after,.iconfield.field-small .input:after,.time_field.field-small .input:after,.url_field.field-small .input:after{right:.5em}
.date_field.icon-spinner:after,.date_time_field.icon-spinner:after,.iconfield.icon-spinner:after,.time_field.icon-spinner:after,.url_field.icon-spinner:after{color:#43b1b0;opacity:.8;text-align:center;top:.3em}
.choice_field .input li label,.model_multiple_choice_field .input li label{display:block;width:auto;float:none;padding-top:0}

/*.fields>li{padding-top:.5em;padding-bottom:1.2em}*/
.fields>li:after,.fields>li:before{content:" ";display:table}
.fields>li:after{clear:both}
.input{clear:both}

.chooser:after,.chooser:before{content:" ";display:table}
.chooser:after{clear:both}
.chooser input[type=text]{float:left;width:50%;margin-right:1em}
.chooser .chosen{display:block}
.chooser .chosen,.chooser .unchosen{position:relative}
.chooser .chosen:before,.chooser .unchosen:before{vertical-align:middle;font-family:wagtail;content:"";display:inline-block;color:#d9d9d9;line-height:1em;font-size:2.5em;margin-right:.3em}
.chooser .unchosen{display:none}
.chooser .actions{overflow:hidden}
.chooser .actions:after,.chooser .actions:before{content:" ";display:table}
.chooser .actions:after{clear:both}
.chooser .actions li{float:left;margin:.3em}
.chooser.blank .chosen{display:none}
.chooser.blank .unchosen{display:block}

@media screen and (min-width:50em){
  .sequence-container label{box-sizing:border-box;display:inline;float:left;width:16.66667%}
  .boolean_field label,.image_field label,.model_choice_field label,.model_multiple_choice_field label,.radio_select label{padding-top:0}
  .model_choice_field.select label{padding-top:1.2em}
  .help{opacity:1}
  .fields{max-width:800px}
  .field{box-sizing:border-box;display:block;margin-right:auto;margin-left:auto;padding-right:0;padding-left:0}
  .field:after,.field:before{content:" ";display:table}
  .field:after{clear:both}
  .field-content{box-sizing:border-box;display:inline;width:90%;padding-right:0}
  .field-content{float:left;padding-left:0}
  .label-above .field>.field-content,.label-above .field>label{display:block;padding:0 0 .8em;float:none;width:auto}
}

.nolink{color:#666}
.nolink:hover{color:#43b1b0}

.inline{display:inline}
.inline-block{display:inline-block}
.block{display:block}
.unlist{margin-top:0;margin-bottom:0;padding-left:0}
.unlist,.unlist li{list-style-type:none;font-style:normal}
.overflow{overflow:auto}


.xdsoft_datetimepicker{box-shadow:0 5px 10px -5px rgba(0,0,0,.4);background:#fff;border:1px solid #54d0d0;padding:8px;padding-left:0;padding-top:2px;position:absolute;z-index:5;box-sizing:border-box;display:none}
.xdsoft_datetimepicker *{box-sizing:border-box;padding:0;margin:0}
.xdsoft_datetimepicker iframe{position:absolute;left:0;top:0;width:75px;height:210px;background:transparent;border:0}
.xdsoft_datetimepicker .xdsoft_datepicker,.xdsoft_datetimepicker .xdsoft_timepicker{display:none}
.xdsoft_datetimepicker .xdsoft_datepicker.active,.xdsoft_datetimepicker .xdsoft_timepicker.active{display:block}
.xdsoft_datetimepicker .xdsoft_datepicker{float:left;margin-left:8px}
.xdsoft_datetimepicker .xdsoft_datepicker.active+.xdsoft_timepicker{margin-top:8px;margin-bottom:3px}
.xdsoft_datetimepicker .xdsoft_mounthpicker{position:relative;text-align:center}
.xdsoft_datetimepicker .xdsoft_next,.xdsoft_datetimepicker .xdsoft_prev,.xdsoft_datetimepicker .xdsoft_today_button{background-color:transparent;cursor:pointer;display:block;border:0;overflow:hidden;padding:5px 0;position:relative;white-space:nowrap;width:2em;color:#43b1b0;text-transform:none;text-align:center}
.xdsoft_datetimepicker .xdsoft_next:before,.xdsoft_datetimepicker .xdsoft_prev:before,.xdsoft_datetimepicker .xdsoft_today_button:before{font-size:1.5em;font-family:wagtail;width:1em;line-height:1.3em;text-align:center;margin:0}
.xdsoft_datetimepicker .xdsoft_next:hover,.xdsoft_datetimepicker .xdsoft_prev:hover,.xdsoft_datetimepicker .xdsoft_today_button:hover{color:#358c8b}
.xdsoft_datetimepicker .xdsoft_prev{float:left}
.xdsoft_datetimepicker .xdsoft_prev:before{content:"z"}
.xdsoft_datetimepicker .xdsoft_today_button{float:left;margin-left:5px}
.xdsoft_datetimepicker .xdsoft_today_button:before{content:"W"}
.xdsoft_datetimepicker .xdsoft_next{float:right}
.xdsoft_datetimepicker .xdsoft_next:before{content:"n"}
.xdsoft_datetimepicker .xdsoft_timepicker{width:70px;float:left;text-align:center;margin-left:8px;margin-top:0}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_next,.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_prev{float:none;height:1.5em;display:block;text-align:center;width:100%;padding:0}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_next:before,.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_prev:before{width:100%}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_prev:before{content:"e"}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_next:before{content:"q"}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box{position:relative;border:1px solid #ccc;height:170px;overflow:hidden;border-bottom:1px solid #ddd}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div{background:#f5f5f5;border-top:1px solid #ddd;color:#666;font-size:1em;text-align:center;border-collapse:collapse;cursor:pointer;border-bottom-width:0;height:2.3em;line-height:2.3em}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:first-child{border-top-width:0}
.xdsoft_datetimepicker .xdsoft_label{display:inline;position:relative;z-index:9999;margin:0;padding:5px 3px;font-size:14px;line-height:20px;font-weight:700;background-color:#fff;float:left;width:182px;text-align:center;cursor:pointer}
.xdsoft_datetimepicker .xdsoft_label:hover{text-decoration:underline}
.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select{border:1px solid #ccc;position:absolute;right:0;top:30px;z-index:101;display:none;background:#fff;max-height:160px;overflow-y:hidden}
.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select.xdsoft_monthselect{right:-7px}
.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select.xdsoft_yearselect{right:2px}
.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select>div>.xdsoft_option:hover{color:#fff;background:#ff8000}
.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select>div>.xdsoft_option{padding:2px 15px 2px 5px}
.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select>div>.xdsoft_option.xdsoft_current{background:#3af;color:#fff;font-weight:700}
.xdsoft_datetimepicker .xdsoft_month{width:90px;text-align:right}
.xdsoft_datetimepicker .xdsoft_year{width:56px}
.xdsoft_datetimepicker .xdsoft_calendar{clear:both}
.xdsoft_datetimepicker .xdsoft_calendar table{border-collapse:collapse}
.xdsoft_datetimepicker .xdsoft_calendar td>div{padding-right:5px}
.xdsoft_datetimepicker .xdsoft_calendar td,.xdsoft_datetimepicker .xdsoft_calendar th{width:14.285%;border:1px solid #ddd;color:#666;font-size:12px;text-align:right;padding:5px 7px;border-collapse:collapse;cursor:pointer;height:25px}
.xdsoft_datetimepicker .xdsoft_calendar td{background-color:#fff}
.xdsoft_datetimepicker .xdsoft_calendar th{background:#f1f1f1;font-weight:700;font-size:.85em;text-align:center;cursor:default}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current{background:#f37e77;color:#fff;font-weight:700}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_disabled,.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_other_month,.xdsoft_datetimepicker .xdsoft_time_box>div>div.xdsoft_disabled{opacity:.5;background:#d9d9d9}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_other_month.xdsoft_disabled{opacity:.2}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover{color:#fff;background:#43b1b0}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today{font-weight:700}
.xdsoft_noselect{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.xdsoft_noselect::-moz-selection{background:transparent}
.xdsoft_noselect::selection{background:transparent}
.xdsoft_noselect::-moz-selection{background:transparent}
.xdsoft_datetimepicker.xdsoft_inline{display:inline-block;position:static;box-shadow:none}
.xdsoft_scroller_box{position:relative}
.xdsoft_scrollbar{position:absolute;width:7px;right:0;top:0;bottom:0;cursor:pointer}
.xdsoft_scrollbar>.xdsoft_scroller{background:#ccc!important;height:20px;border-radius:3px}




/* layout/page-editor.css */

ul.sequence{position:relative}
ul.sequence:after,ul.sequence:before{content:" ";display:table}
ul.sequence:after{clear:both}
li.sequence-member{position:relative;border:1px solid transparent;border-width:1px 0}
li.sequence-member{position:relative;border:1px solid #eee;border-width:0px}

li.sequence-member{background: #f4f4f4; margin-top: 2px;}
li.sequence-member .sequence-member{background: #e4e4e4;}
li.sequence-member .sequence-member .sequence-member{background: #d4d4d4;}
li.sequence-member .sequence-member .sequence-member .sequence-member{background: #ccc;}
li.sequence-member .sequence-member .sequence-member .sequence-member .sequence-member{background: #aaa;}


li.sequence-member:after,li.sequence-member:before{content:" ";display:table}
li.sequence-member:after{clear:both}
li.sequence-member:hover{background-color:#f4fcfc;border-color:#ccf1f1}
li.sequence-member:hover .sequence-member-inner .sequence>label,li.sequence-member:hover .sequence-member-inner>.char_field>label,li.sequence-member:hover .sequence-member-inner>.struct-block>label{opacity:1}
li.sequence-member .struct-block .fields{width:83.33333%}
li.sequence-member .struct-block .fields,li.sequence-member .struct-block .sequence-container{box-sizing:border-box;display:inline;float:left;padding-right:1.5%;padding-left:1.5%;padding-left:0;padding-right:0}
li.sequence-member .struct-block .sequence-container{width:75%}
li.sequence-member .struct-block .sequence-container .sequence-member-inner{padding:1.5em 0}
li.sequence-member .struct-block li.required>label:after{content:"*";color:#cd3238;font-weight:700;display:inline-block;margin-left:.5em;line-height:1em;font-size:13px}
li.sequence-member .sequence-member-inner{position:relative;padding:0em 1.3rem 1.3rem 1.3rem}
li.sequence-member .sequence-member-inner:after,li.sequence-member .sequence-member-inner:before{content:" ";display:table}
li.sequence-member .sequence-member-inner:after{clear:both}
/*li.sequence-member .sequence-member-inner .sequence-member{border:0}*/
/*
li.sequence-member .sequence-member-inner .sequence-type-list .sequence-container-inner,
li.sequence-member .sequence-member-inner>.sequence .sequence-inner{box-sizing:border-box;display:inline;float:left;width:83.33333%;padding-right:1.5%;padding-left:1.5%;padding-left:0;padding-right:0}
*/
/*li.sequence-member .sequence-member-inner .sequence-type-list .sequence-member-inner{padding:0;padding-top:.5em;padding-bottom:1.2em}*/
li.sequence-member .fields>li{position:relative}
.sequence-member__help{opacity:0}
.sequence-member:hover .sequence-member__help{opacity:1}
.sequence-member__help .icon-help-inverse{margin-right:.5em}
.block_field>.field-content>.input>.sequence-container>.sequence-container-inner>.sequence>.sequence-member>.sequence-member-inner>.halloeditor,
 .block_field>.field-content>.input>.sequence-container>.sequence-container-inner>.sequence>.sequence-member>.sequence-member-inner>.widget-text_input input,
  .block_field>.field-content>.input>.sequence-container>.sequence-container-inner>.sequence>.sequence-member>.sequence-member-inner>.widget-textarea textarea{padding:0;max-width:1024px;border:0;background-color:transparent}

/*
.sequence-controls{border-radius:2px 0 0;border:1px solid #ccf1f1;border-width:1px 1px 0;opacity:0;visibility:hidden;position:absolute;top:-30px;right:0;z-index:1;overflow:visible;background-color:#f4fcfc;padding:0 0 0 1em;height:30px}
.sequence-controls h3{margin:0;font-size:.7rem;display:inline-block;margin-right:1em;line-height:1.8rem}
.sequence-controls h3 label{color:#43b1b0;font-weight:400;text-transform:uppercase;float:none;width:auto;padding:0;margin:0}
.sequence-controls button.icon.text-replace{width:1.8rem;height:1.8rem}
.sequence-controls button.icon.text-replace:before{line-height:1.3em;font-size:.9rem}
.sequence-controls .button-group{float:right}
.sequence-controls:hover .buttons,.sequence-controls:hover label{opacity:1}
.sequence-controls .disabled{display:none}
.list-controls{border-radius:0;background:transparent;top:1.5em;border:0;padding:0;overflow:hidden;height:auto}

.sequence-controls{border-radius:2px 0 0;border:0px solid #ccf1f1;border-width:0px 0px 0;padding:0 0 0 0em;height:30px}
.sequence-controls h3{margin:0;font-size:.7rem;display:inline-block;margin-right:1em;line-height:1.8rem}
.sequence-controls h3 label{color:#43b1b0;font-weight:400;text-transform:uppercase;float:none;width:auto;padding:0;margin:0}
.sequence-controls button.icon.text-replace{width:1.8rem;height:1.8rem}
.sequence-controls button.icon.text-replace:before{line-height:1.3em;font-size:.9rem}
.sequence-controls .button-group{float:right}
.sequence-controls:hover .buttons,.sequence-controls:hover label{opacity:1}
.sequence-controls .disabled{display:none}
.list-controls{border-radius:0;background:transparent;top:1.5em;border:0;padding:0;overflow:hidden;height:auto}
*/

.sequence-controls .button-group, .sequence-controls.list-controls{opacity:0;visibility:hidden;z-index:1;overflow:visible}
.sequence-controls h3{margin:0 0 0 0.2rem; padding:0; font-size:.7rem;display:inline-block;margin-right:1em;line-height:1.3rem; height: 1.3rem}
.sequence-controls h3 label{color:#43b1b0;font-weight:400;text-transform:uppercase;float:none;width:auto;padding:0;margin:0}
.sequence-controls button.icon.text-replace{width:1.8rem;height:1.3rem}
.sequence-controls button.icon.text-replace:before{line-height:0.8em;font-size:1rem}
.sequence-controls .button-group{float:right}
.sequence-controls:hover .buttons,.sequence-controls:hover label{opacity:1}
.sequence-controls .disabled{display:none}
.list-controls{border-radius:0;background:transparent;top:1.5em;border:0;padding:0;overflow:hidden;height:auto}

.stream-menu{box-shadow:inset 0 0 45px rgba(0,0,0,.3);position:relative;background-color:#333;opacity:1}
.stream-menu .toggle{border-radius:50px;position:absolute;top:-.5em;left:0;right:0;margin:0 auto;cursor:pointer;font-size:1.7em;width:1em;height:1em;display:block;z-index:1;color:#333;background-color:#fff;outline:none}
.stream-menu .toggle span{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.stream-menu .toggle span:active,.stream-menu .toggle span:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.stream-menu .toggle:before{transform:rotate(-45deg);position:absolute;font-family:wagtail;content:"B";line-height:1em;text-align:center}
.stream-menu .stream-menu-inner{transform:translateZ(0);max-width:50em;margin:auto;overflow:hidden}
.stream-menu ul{transform:translateZ(0) scale(1);visibility:visible;opacity:1;padding:1em 1em 0;overflow:hidden}
.stream-menu ul:after,.stream-menu ul:before{content:" ";display:table}
.stream-menu ul:after{clear:both}
.stream-menu li{box-sizing:border-box;display:inline;float:left;width:25%;padding-right:1.5%;padding-left:1.5%;padding-bottom:3%;padding-left:0;padding-right:0}
.stream-menu li:nth-child(4n+1){clear:left}
.stream-menu button{background-color:transparent;color:#ccc;height:auto;display:block;width:100%;padding:0 0 .5em;outline:#43b1b0;overflow:visible}
.stream-menu button span{text-transform:none;white-space:pre-wrap;width:100%;display:block;overflow:hidden;padding:0 1em;box-sizing:border-box}
.stream-menu button:before{display:block;font-family:wagtail;font-size:2em;width:100%;height:2em;line-height:2em;text-align:center}
.stream-menu button:focus,.stream-menu button:hover{background-color:#43b1b0;color:#fff}
.stream-menu.stream-menu-closed{box-shadow:none}
.stream-menu.stream-menu-closed .stream-menu-inner ul{transform:scale(.9);opacity:0}
.stream-menu.stream-menu-closed .toggle{color:#d9d9d9;background-color:#fff}
.stream-menu.stream-menu-closed .toggle:before{transform:rotate(0deg)}
.stream-menu.stream-menu-closed .toggle:focus{color:#43b1b0}
.stream-menu.stream-menu-closed:hover{border-top-color:#43b1b0}
.stream-menu.stream-menu-closed:hover .toggle{color:#43b1b0}
@media screen and (min-width:50em){
  .stream-menu li{box-sizing:border-box;display:inline;float:left;width:16.66667%;padding-right:1.5%;padding-left:1.5%}
  .stream-menu li:nth-child(4n+1){clear:none}
  .stream-menu li:nth-child(6n+1){clear:left}
}

.sequence-member .stream-menu{margin:auto auto 0}
.sequence-member .stream-menu-closed{opacity:0;visibility:hidden}
.sequence-member:hover .sequence-controls .button-group,
.sequence-member:hover .sequence-controls.list-controls,
 .sequence-member:hover .stream-menu{visibility:visible;opacity:1}

.full .halloeditor,
 .full input,
  .full textarea{padding:2em 20px;border-radius:0;font-size:1.2em;line-height:1.6em}
@media only screen and (min-width:50em){
  .full .halloeditor,
   .full input,
    .full textarea{padding-left:50px;padding-right:50px}
}
.title .halloeditor,
 .title input,
  .title textarea{font-size:2em}


/* django-admin */
ul.sequence{position:relative}
form .aligned ul.sequence{margin-left: 0px; padding: 0px;} /* sakkada */
form .aligned .stream-menu ul{margin-left: 0px; padding: 1em 1em 0;} /* sakkada */
form .aligned ul.fields{margin-left: 0px;} /* sakkada */
form .aligned .form-row>div>div.sequence-container {overflow: auto; padding: 12px 0; max-width: 60em;} /*django-admin*/


.sequence-controls .button {margin: 0 1px 0 0} /* django-admin */
.sequence li {padding: 0} /* django-admin */

.aligned .sequence-container ul.fields label {display: block;padding: 0;box-sizing: border-box;display: inline;float: left;width: 16.66667%;}
.sequence-container input,
 .sequence-container textarea,
 .sequence-container select{margin: 0}
/*form .sequence-container .button*/



form .aligned ul.fields li {margin-top: 2px;}
form .aligned ul.fields li:first-child{margin-top: 0px;}
form .aligned .button.bicolor {padding: 0 1.4em 0 3.7em;}


.sequence .stream-menu li {
  padding-top: 0;
  padding-right: 1.5%;
  padding-left: 1.5%;
  padding-bottom: 3%;
}

.wide input,
 .wide textarea{ width: 90%; }

